.men{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 70px;
}

.men-wears{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1px;
  padding:0px 10px;
}
